@use './mixins.scss' as *;

button,
.button {
    padding: 10px 24px;
    width: fit-content;
    height: fit-content;
    background: var(--accent);
    border: none;
    border-radius: 12px;
    color: var(--grey-light);
    font-size: 16px;
    font-family: var(--font-primary);
    text-decoration: none;

    &--white {
        color: var(--accent);
        background: var(--white);
    }
}

.category-button {
    font-size: 16px;
    padding: 8px 20px;
    border-radius: 40px;
    width: fit-content;
    font-weight: 500;

    &--yellow {
        background: var(--yellow);
    }

    &--green {
        background: var(--green);
    }

    &--blue {
        background: var(--blue);
    }

    &--red {
        background: var(--red);
    }
}

@include min-size(md) {

    button,
    .button {
        padding: 14px 32px;
        font-size: 20px;
        border-radius: 16px;
    }
}