:root {
    --dark-grey: #2C2C2E;
    --primary-900: #360E30;
    --primary-700: #5F1854;
    --white: #FFFFFF;
    --accent: #B02D9C;
    --accent-opacity-30: rgb(176 45 156 / 30%);
    --accent-opacity-20: rgb(176 45 156 / 20%);
    --grey: #E6E6E6;
    --grey-light: #F8F8F8;
    --yellow: #FFC93C;
    --green: #3CB371;
    --blue: #5C82BA;
    --red: #F55B5B;
    --plum: #4B2846;
}