.container-fluid {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 0 1.5rem;
}

.container {
  margin: auto;
  width: 100%;
  max-width: 1340px;
  padding: 0 1.5rem;

  &.p0 {
    padding: 0;
  }
}

.hidden {
  display: none !important;
}
