@use './mixins.scss' as *;

.mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #360E30;
    color: white;
    height: 80px;
    z-index: 1000;

    .menu-top {
        display: flex;
        justify-content: space-between;
        padding: 0;
        align-items: center;
    }

}

.menu-bottom {
    position: fixed;
    bottom: 8px;
    z-index: 6;

    .cta-button {
        display: block;
        width: 100%;
        background: var(--primary-900);
        text-align: center;
    }
}

.menu {
    display: none;

    &-blog {
        color: var(--white);
        text-decoration: none;
        font-weight: 500;
    }
}

@include min-size(lg) {
    .menu {
        display: flex;
        background: var(--primary-900);
        height: 80px;
        padding: 0;

        &--white {
            background: var(--white);

            .p--big {
                color: var(--primary-700);
            }
        }

        &-container {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        &-right {
            display: flex;
            align-items: center;
            gap: 40px
        }
    }

    .mobile-menu,
    .menu-bottom {
        display: none;
    }
}