---
import Events from "../assets/event.webp";
---

<section class="booking">
  <div class="container">
    <div class="booking-content">
      <div class="booking-info">
        <h2>Zapisz się na wydarzenie</h2>
        <h5 class="booking-subtitle">
          Nie czekaj, aż konkurencja zacznie działać szybciej od Ciebie.
        </h5>
        <div class="booking-image-container">
          <img src={Events.src} alt="Lokalizacja" />
          <div class="booking-image-overlay"></div>
        </div>
      </div>
      <div class="booking-form">
        <h3>Limulus AI Live Demo Day</h3>
        <p>Spotkanie z zespołem</p>
        <p>30 mins • Web conference</p>
        <form class="booking-form">
          <button type="submit" class="btn-primary">Umów się</button>
        </form>
      </div>
    </div>
  </div>
</section>
