<section class="integration">
  <div class="container">
    <h2>Integracje</h2>
    <hr class="integration-divider" />
    <div class="integration-content">
      <h3>Limulus AI współpracuje z każdym helpdeskiem.</h3>
      <p class="p--big">
        Limulus AI integruje się z każdym helpdeskiem, takim jak Intercom,
        Zendesk, Salesforce i innymi – bez potrzeby migracji.
      </p>
    </div>
  </div>
</section>
