---
import DeliverIcon from "../assets/icons/deliver.png";
import MicrosoftIcon from "../assets/icons/microsoft.svg";
import OpenAIIcon from "../assets/icons/openai.svg";
import CognitumIcon from "../assets/icons/cognitum.png";
---

<section class="partners">
  <div class="container">
    <h2>Kto za tym stoi?</h2>
    <div class="partners-container">
      <p class="p--small partners-content">
        Limulus AI to projekt stworzony przez Cognitum Services SA – ekspertów
        od Gen AI, chmur obliczeniowych i automatyzacji procesów. <br /><br />
        Współpracujemy z Microsoft, OpenAI i zespołami R&D, żeby tworzyć narzędzia,
        które działają w biznesie.
      </p>

      <div class="partners-card-container">
        <div class="partners-card">
          <img src={CognitumIcon.src} alt="Cognitum" class="cognitum" />
          <div>
            <hr class="partners-divider" />
            <p class="partners-label p--small">Cognitum</p>
          </div>
        </div>
        <div class="partners-card">
          <img src={MicrosoftIcon.src} alt="Microsoft" />
          <div>
            <hr class="partners-divider" />
            <p class="partners-label p--small">Microsoft</p>
          </div>
        </div>
        <div class="partners-card">
          <img src={DeliverIcon.src} alt="Deliver in Person" />
          <div>
            <hr class="partners-divider" />
            <p class="partners-label p--small">Deliver in Person</p>
          </div>
        </div>
        <div class="partners-card">
          <img src={OpenAIIcon.src} alt="OpenAI" />
          <div>
            <hr class="partners-divider" />
            <p class="partners-label p--small">OpenAI</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
