---
import Line from "../assets/icons/line.jpg";
---

<section class="stats">
  <div class="container">
    <h2 class="section-title">Dlaczego warto?</h2>
    <div class="stats-grid">
      <div class="stats-item">
        <div class="stats-number">70%</div>
        <p>niższe koszty operacyjne</p>
      </div>
      <img class="stats-line" src={Line.src} alt="Line" />
      <div class="stats-item">
        <div class="stats-number">90%</div>
        <p>krótszy czas odpowiedzi</p>
      </div>
      <img class="stats-line" src={Line.src} alt="Line" />
      <div class="stats-item">
        <div class="stats-number">
          10<span class="stats-number--font">x</span>
        </div>
        <p>szybsze rozwiązywanie zgłoszeń</p>
      </div>
    </div>
  </div>
</section>
