---
import Usages from "../assets/usage.png";
---

<section class="usage">
  <div class="container">
    <h2>Przykład użycia</h2>
    <div class="usage-demo">
      <img src={Usages.src} alt="Przykład użycia" />
    </div>
  </div>
</section>
