@use '../mixins.scss' as *;

.benefits {
    padding: 64px 0;

    &-subtitle {
        margin-top: 32px;
        width: 100%;
    }

    &-content {
        margin-top: 32px;
    }

    &-additional {
        margin-top: 24px;
    }

    &-list ul,
    &-additional ul {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        gap: 24px;
        flex-direction: column;
    }

    &-list li,
    &-additional li {
        padding-left: 1.5rem;
        position: relative;
        color: var(--dark-grey);
        font-size: 16px;
    }

    &-list li::before,
    &-additional li::before {
        content: "✓";
        position: absolute;
        left: 0;
        color: var(--green);
        font-weight: 600;
    }
}

@include min-size(lg) {
    .benefits {
        padding: 128px 0;

        &-content {
            display: grid;
            grid-template-columns: 1fr 1fr;
            margin-top: 32px;
        }

        &-additional {
            margin-top: 0;

            li {
                font-size: 20px;
            }
        }
    }
}