@use '../mixins.scss' as *;

.usage {
    padding: 64px 0;

    &-demo {
        text-align: center;
        margin-top: 32px;

        img {
            height: 400px;
        }
    }
}

@include min-size(lg) {
    .usage {
        padding: 128px 0;

        &-demo img {
            height: 675px;
        }
    }
}