.blog-hero {
    position: relative;
    height: 440px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;

    h1 {
        position: relative;
        z-index: 2;
        color: var(--white);
        text-align: center;
    }

    img {
        position: absolute;
        inset: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        opacity: 0.8;
        z-index: 0;
    }

    &-background {
        position: absolute;
        inset: 0;
        background: var(--primary-900);
        opacity: 80%;
        z-index: 1;
    }
}