---
import "../styles/main.scss";
---

<!doctype html>
<html lang="pl">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" />
    <meta name="generator" content={Astro.generator} />
    <title>Limulus</title>
  </head>
  <body>
    <slot />
    <script src="/src/scripts/main.js"></script>
  </body>
</html>
